/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: #000;
    color: white;
    padding: 20px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.image img {
    width: 300px;
    border-radius: 10px;
}

footer {
    background: #000;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
